<!DOCTYPE html>
<html>
	<head>
		<title>buy a ticket</title>
	</head>
	<body>
		<h1>ticket</h1>
                <form method="post">
                    <label for="ticket-numbers">Choose your winning numbers</label>
                    <input type="number" name="n1" id="ticket-numbers"  min="0" max="9" required>
                    <input type="number" name="n2" min="0" max="9" required>
                    <input type="number" name="n3" min="0" max="9" required>
                	<input type="submit" value="Purchase">
                </form>
	</body>
</html>
