<!DOCTYPE html>
<html>
	<head>
		<title>buy a ticket</title>
	</head>
	<body>
		<h1>ticket</h1>
                <form method="post">
                    <label for="ticket-numbers">Choose your winning numbers</label>
                    <input name="ticket-numbers" type="number" min="0" max="9">
                    <input type="number" min="0" max="9">
                    <input type="number" min="0" max="9">
                	<input type="submit" value="Purchase">
                </form>
	</body>
</html>
